import labelLocalizations from "../../../../localization/template/template_button_label.json" with { type: 'json' };
import translate from "../../../../translate.js";

import { ButtonBuilder, ButtonStyle } from "discord.js";
import { debug } from "../../../../log.js";

export default function createTemplateButton(): ButtonBuilder {
    debug("Creating template button");
    return new ButtonBuilder()
        .setStyle(ButtonStyle.Link)
        .setLabel(translate(labelLocalizations));
}
